.lg {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.lg button {
  border-radius: var(--radius-2);
  font-size: var(--font-size-fluid-1);
}
.lg h1 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-9);
  max-inline-size: none;
}
.lg .header {
  width: 100%;
  text-align: center;
  height: max-content;
  margin-bottom: var(--size-fluid-1);
  display: flex;
  flex-direction: column;
  gap: var(--font-size-fluid-1);
}
.lg .login-main {
  width: min(60%, 69rem);
  margin-inline: auto;
}
.lg .login-form {
  display: flex;
  flex-direction: column;
}
.lg .login-form .inputs {
  display: grid;
  grid-auto-flow: row;
  gap: var(--size-fluid-3);
}
.lg .login-form .inputs input {
  font-size: var(--font-size-fluid-1);
}
.lg .login-msg {
  width: 100%;
  margin-top: 0.5rem;
  font-weight: var(--font-weight-7);
}
.lg .btns {
  display: grid;
  place-items: center;
  width: 100%;
}
.lg .btns button {
  font-size: var(--font-size-5);
  padding-inline: 1rem;
}
